.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 10vw);
    grid-gap: 15px;
    font-family: "PT Sans", Helvetica, sans-serif;
}

.section {
    text-align: center;
}

img {
    max-width: 100%;
    height: 100%;
}

h3 {
    color: rgb(118,186,141);
    font-size: x-large;
    text-align: left;
}

p {
    text-align: left;
    color: rgb(136,136,136)
}
