* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

#mockup {
    width: 500px;
    height: 516px;
    background-image: url(https://raw.githubusercontent.com/becodeorg/gnt-verou-1-26/master/1.The-Field/4.HTML-CSS/5.End-of-Field/1.Trial-Run/images/15.card-small.png?token=ARLOQAQ6AQAFZKTXWDE4RF27XOPAM);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0.5;
    z-index: 10;
    pointer-events: none;
  }

  .container {
      display: grid;
      grid-template-columns: 45% 55%;
      width: 489px;
      height: 258px;
      margin-top: 1px;
      border-style: solid;
      border-color: #F0F0F1;
      border-width: 1px;
  }

  img {
      margin: 1px;

  }

  .title {
      margin-top: 18px;
      margin-left: 2px;
      line-height: 1.4;
  }

  .intro {
      line-height: 1.4;
      font-size: 15px;
      color: #BEBEBE;
  }

  .info {
      display: grid;
      grid-template-columns: 19% 59% 30%;
      margin-top: 60px;
  }

  .author h6 {
      font-size: 12px;
      margin-top: 3px;
      color: #8A8A8A;
  }

  .author p {
      font-size: small;
      color: #BEBEBE;
  }

  .bookmark img#bookmark {
      height: 20px;
      margin-top: 10px;
  }

  .bookmark img#arrow {
      height: 10px;
  }
